extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#nav-collapse')
          span.sr-only.
            Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/', id='brand').
          GeCo in the Rockies 2014 Happenings
      .navbar-collapse.collapse(id='nav-collapse')
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#new', id='new-record-a')
              span.white.glyphicon.glyphicon-plus
              |&nbsp;Add Something New Happening
          li
            a(href='#alert', id='new-alert-a')
              span.white.glyphicon.glyphicon-bell
              |&nbsp;Receive Alerts
  .content
    #map-container
    .modal.fade.record-modal(role='dialog', id='record-modal', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='modal')
              span(aria-hidden='true').
                &times;
              span.sr-only.
                Close
            h4.modal-title.
              Title
          .modal-body.
            Yo Dawg
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal').
              Close
    script(id='new-record-modal-template', type='text/x-template')
      .modal.fade.new-record-modal(role='dialog', id='new-record-modal', tabindex='-1')
        .modal-dialog
          .modal-content
            form(role='form')
              input(type='hidden', class='latitude', name='latitude')
              input(type='hidden', class='longitude', name='longitude')
              .modal-header
                button(type='button', class='close', data-dismiss='modal')
                  span(aria-hidden='true').
                    &times;
                  span.sr-only.
                    Close
                h4.modal-title(id='myModalLabel').
                  New Record
              .modal-body
                .new-record-map-container
                hr
                .content
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal').
                  Cancel
                button.create.btn.btn-primary(type='submit').
                  Create
    .modal.fade.saved-record-modal(role='dialog', id='saved-record-modal', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-body
            h3.
              Record Saved
    script(id='new-alert-modal-template', type='text/x-template')
      .modal.fade.new-alert-modal(role='dialog', id='new-alert-modal', tabindex='-1')
        .modal-dialog
          .modal-content
            form(role='form')
              .modal-header
                button(type='button', class='close', data-dismiss='modal')
                  span(aria-hidden='true').
                    &times;
                  span.sr-only.
                    Close
                h4.modal-title(id='myModalLabel').
                  Subscribe to Alerts
              .modal-body
                .content
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal').
                  Cancel
                button.create.btn.btn-primary(type='submit').
                  Submit
    .modal.fade.saved-alert-modal(role='dialog', id='saved-alert-modal', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-body
            h3.
              Subscribed to Alerts!
            p.
              You will receive email and/or text alerts when someone creates a new Activity during GeCo in the Rockies 2014.
            p.
              Once again, the emails and phone numbers are only for use in this little application and will be deleted at the end of GeCo in the Rockies 2014.
